{% extends 'layout.html' %}

{% block content %}
<section>
    <h2>乐队列表</h2>
    <div class="grid">
        {% for band in bands %}
        <article>
            <header>
                <strong>{{ band.name }}</strong>
            </header>
            <p>成立时间: {{ band.founding_date }}</p>
            <p>当前成员数: {{ band.member_count }} 人</p>
            <footer>
                <a href="/band/{{ band.band_id }}" role="button">查看详情 & 报表</a>
            </footer>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
